<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcone to SneakerFit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="all_first_page">
        <div class="label_upper_container">
            <div class="label_upper_box">
                <p class="SneakerFit_label">SneakerFit</p>
            </div>
            <div class="label_upper_box">
                <button>Как это работает?</button>
            </div>
            <div class="label_upper_box">
                <a href="/loggin"><button>Войти</button></a>
            </div>
        </div>
    </div>
</body>
</html>